*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    min-height: 100vh;
    background-color: #0B1119;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
}

h1 {
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 4rem;
    font-weight: 900;
}

.title {
    color: #91DF0C;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    background-color: #B68954;
}

td {
    width: 150px;
    height: 150px;
    border: 4px solid #1D1902;
    font-size: 48px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

td:hover {
    background-color: #DEDFDE;
}